<ng-container *ngIf="profile$ | async as profile">
  <section class="home-headline">
    <h1>Hi, {{ profile.name }}!</h1>
    <a mat-stroked-button color="primary" routerLink="/trainer-profile">
      <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
      <span>Edit profile</span>
    </a>
  </section>

  <section class="body-container">
    <app-trainer-card *ngIf="profile$ | async as profile">
      <div class="card-content">
        <div class="card-title">
          <p>Trainer</p>
          <img
            priority
            ngSrc="assets/images/medal-badge.svg"
            alt="Medal badge"
            width="63"
            height="57"
          />
        </div>
        <app-image-viewer [src]="profile.image" />
        <div class="bio">
          <p>
            <strong class="text-truncate" matTooltip="Hobby"> Hobby: </strong>
            <span class="text-truncate" [matTooltip]="profile.hobby">
              {{ profile.hobby }}
            </span>
          </p>
          <p>
            <strong class="text-truncate" matTooltip="Age">Age: </strong>
            <span
              class="text-truncate"
              [matTooltip]="(profile.birthday | age) + ' years'"
              >{{ profile.birthday | age }} years</span
            >
          </p>
          <p *ngIf="!!profile.document">
            <strong
              class="text-truncate"
              [matTooltip]="isAdult ? 'ID Number' : 'School ID'"
            >
              {{ isAdult ? 'ID Number' : 'School ID' }}:
            </strong>
            <span
              class="text-truncate"
              [matTooltip]="
                profile.document | mask: (isAdult ? '00000000-0' : 'A*')
              "
            >
              {{ profile.document | mask: (isAdult ? '00000000-0' : 'A*') }}
            </span>
          </p>
        </div>
      </div>
    </app-trainer-card>

    <app-pokemon-viewer [pokemons]="(selectedPokemons$ | async) ?? []" />
  </section>
</ng-container>
