@import 'colors';

.progress {
  &-container {
    height: 13px;
    border-radius: 12px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
      1.5px 1.5px 3px 0px #aeaec066,
      -1px -1px 3px 0px #ffffff;
  }

  &-inner {
    height: 9px;
    width: calc(100% - 4px);
    box-shadow:
      1px 1px 2px 0px #aeaec033 inset,
      -1px -1px 1px 0px #ffffffb2 inset;
  }

  &-bar {
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 0px #728ab7b2;
  }
}
