$black: #000000;
$black50: #454545;
$blue00: #01426a;
$blue10: #185a7d;
$blue30: #2c85bc;
$blue40: #e7eff5;
$blueDark40: #9bb8d3;
$gray40: #aaaaaa;
$grayDark: #4b4b4b;
$orange20: #ffc600;
$white: #ffffff;
