<header>
  <div class="container">
    <img
      priority
      ngSrc="assets/images/pokemon-logo-header.svg"
      alt="Pokemon logo header"
      width="138"
      height="51"
    />

    <div class="login" *ngIf="currentUrl.includes('home')">
      <button mat-stroked-button color="primary">
        {{ trainerName$ | async }}
        <mat-icon color="primary">expand_more</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</header>

<main>
  <ng-container *ngIf="loading$ | async; else loader">
    <app-loader />
  </ng-container>
  <ng-template #loader>
    <div class="container">
      <router-outlet />
    </div>
  </ng-template>
</main>
