@import 'colors';
@import 'breakpoints';

$header-height: 4.5rem;

.container {
  width: 100%;
  padding: 0 0.75rem;
  margin: 0 auto;

  @include for-sm-up {
    max-width: 540px;
  }

  @include for-md-up {
    max-width: 720px;
  }

  @include for-lg-up {
    max-width: 960px;
  }

  @include for-xl-up {
    max-width: 1140px;
  }

  @include for-xxl-up {
    max-width: 1320px;
  }
}

header {
  position: sticky;
  top: 0;
  box-shadow: 0px 8px 28px 0px rgba(120, 177, 181, 0.1);
  background-color: $white;
  z-index: 100;

  & > .container {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .login {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    .login :first-child {
      display: none;

      @include for-sm-up {
        font-size: 0.875rem;
        display: flex;
        min-width: 160px;
        height: 2.25rem !important;
      }
    }
  }
}

:host ::ng-deep .login :first-child {
  &.mat-mdc-outlined-button > .mdc-button__label {
    order: -1;
  }

  &.mat-mdc-outlined-button > .mat-icon {
    margin-left: 8px;
    margin-right: -4px;
  }
}

main > .container {
  min-height: calc(100vh - $header-height);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

main > app-loader {
  height: calc(100vh - $header-height);
}
