@import 'breakpoints';
@import 'colors';
@import 'utils';

:host {
  width: 100%;
  position: relative;
  top: 0;

  @include for-md-up {
    top: -3.5rem;
  }
}

h2 {
  @include setFontStyle($blue00, 2rem, 400, 3rem);
}

p {
  @include setFontStyle($gray40, 1.1rem, 400, 1.75rem);
  margin-bottom: 2rem;
}

.search-input {
  background-color: $gray10;
  padding: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  border-radius: 12px;

  input {
    flex-grow: 1;
    outline: none;
    border: none;
    background-color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: $grayDark;
  }
}

.pokemon-list {
  height: calc(138px * 3 + 1rem);
  overflow-y: auto;
  margin-bottom: 3rem;

  > p {
    text-align: center;
  }
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  display: grid;
  justify-items: center;
  align-content: start;
  gap: 0.5rem 0;
  grid-template-columns: 1fr;

  @include for-sm-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-md-up {
    grid-template-columns: repeat(3, 1fr);
  }

  @include for-lg-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-xl-up {
    grid-template-columns: repeat(3, 1fr);
  }
}

button {
  display: block;
  margin: 0 auto;
  width: 14rem;
}
