<h2>Pokémon</h2>

<p>Selecciona 3 Pokémon para que sean parte de tu equipo</p>

<div class="search-input">
  <mat-icon color="primary">search</mat-icon>
  <input
    type="text"
    placeholder="Buscar por índice, nombre..."
    [formControl]="searchValue"
    name="searchValue"
  />
</div>

<div class="pokemon-list">
  <ng-container *ngIf="filteredPokemons$ | async as filteredPokemons">
    <ng-container *ngIf="filteredPokemons.length > 0; else noPokemons">
      <app-pokemon-checkbox
        *ngFor="let pokemon of filteredPokemons"
        [pokemon]="pokemon"
        [disabled]="disabledCheckbox"
        [selectedPokemons]="selectedPokemons"
        (changeSelection)="onChangePokemonSelection($event)"
      />
    </ng-container>
    <ng-template #noPokemons>
      <p>No se encontró ningún Pokémon</p>
    </ng-template>
  </ng-container>
</div>

<button
  mat-flat-button
  color="primary"
  type="submit"
  [disabled]="!disabledCheckbox"
  (click)="saveSelectedPokemons()"
>
  Guardar
</button>
