<h2>Pokemon</h2>

<p>Select 3 Pokemon to be part of your team</p>

<div class="search-input">
  <mat-icon color="primary">search</mat-icon>
  <input
    type="text"
    placeholder="Search by id or name..."
    [formControl]="searchValue"
    name="searchValue"
  />
</div>

<ng-container *ngIf="filteredPokemons$ | async as filteredPokemons">
  <ng-container *ngIf="filteredPokemons.length > 0; else noPokemons">
    <cdk-virtual-scroll-viewport class="pokemon-list" [itemSize]="138 / 3">
      <app-pokemon-checkbox
        *cdkVirtualFor="let pokemon of filteredPokemons"
        [pokemon]="pokemon"
        [disabled]="disabledCheckbox"
        [selectedPokemons]="selectedPokemons"
        (changeSelection)="onChangePokemonSelection($event)"
      />
    </cdk-virtual-scroll-viewport>
  </ng-container>
  <ng-template #noPokemons>
    <div class="pokemon-list">
      <p>No Pokemon was found</p>
    </div>
  </ng-template>
</ng-container>

<button
  mat-flat-button
  color="primary"
  type="submit"
  [disabled]="!disabledCheckbox"
  (click)="saveSelectedPokemons()"
>
  Save
</button>
