<h2>Pokémon</h2>

<p>Selecciona 3 Pokémon para que sean parte de tu equipo</p>

<div>
  <mat-icon>search</mat-icon>
  <input
    type="text"
    placeholder="Buscar por índice, nombre..."
    [formControl]="searchValue"
    name="searchValue"
  />
</div>

<div class="pokemon-list">
  <app-pokemon-checkbox
    *ngFor="let pokemon of filteredPokemons$ | async"
    [pokemon]="pokemon"
    [disabled]="disabled"
    [selectedPokemons]="selectedPokemons"
    (changeSelection)="onChangePokemonSelection($event)"
  />
</div>
