<section class="headline-container">
  <button
    mat-icon-button
    color="primary"
    class="back-button"
    (click)="onClickBackButton()"
  >
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <div>
    <h1>We're almost done!</h1>
    <p>Review the information and complete what is requested.</p>
  </div>
</section>

<section class="body-container">
  <app-trainer-card *ngIf="profile$ | async as profile">
    <div class="card-content">
      <h2>{{ profile.name }}</h2>
      <app-image-viewer [src]="profile.image" />
      <div class="bio">
        <p>
          <strong class="text-truncate" matTooltip="Hobby"> Hobby: </strong>
          <span class="text-truncate" [matTooltip]="profile.hobby">
            {{ profile.hobby }}
          </span>
        </p>
        <p>
          <strong class="text-truncate" matTooltip="Age">Age: </strong>
          <span
            class="text-truncate"
            [matTooltip]="(profile.birthday | age) + ' years'"
            >{{ profile.birthday | age }} years</span
          >
        </p>
        <p *ngIf="!!profile.document">
          <strong
            class="text-truncate"
            [matTooltip]="isAdult ? 'ID Number' : 'School ID'"
          >
            {{ isAdult ? 'ID Number' : 'School ID' }}:
          </strong>
          <span
            class="text-truncate"
            [matTooltip]="
              profile.document | mask: (isAdult ? '00000000-0' : 'A*')
            "
          >
            {{ profile.document | mask: (isAdult ? '00000000-0' : 'A*') }}
          </span>
        </p>
      </div>
    </div>
  </app-trainer-card>

  <ng-container *ngIf="pokemons$ | async as pokemons">
    <app-pokemon-selector [pokemons]="pokemons" />
  </ng-container>
</section>
