@import 'bootstrap/scss/bootstrap';

@import 'breakpoints';
@import 'colors';
@import 'theming';
@import 'utils';

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: 'Poppins', sans-serif;
}

.headline-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.5rem;

  > button {
    margin-top: 0.25rem;
  }

  h1 {
    @include setFontStyle($blue10, 2rem, 600, 3.3rem);
    margin-bottom: 0.5rem;
  }

  p {
    @include setFontStyle($gray40, 1.1rem, 400, 1.7rem);
  }
}

.body-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: flex-start;
  gap: 3rem 1rem;

  @include for-lg-up {
    grid-template-columns: 1fr 1fr;
  }
}

.mat-mdc-form-field {
  .mdc-text-field__input {
    color: $black50 !important;
  }

  .mdc-notched-outline {
    .mdc-floating-label > mat-label {
      letter-spacing: 0;
    }

    .mdc-floating-label--float-above > mat-label {
      font-weight: 700;
    }

    &__leading {
      border-bottom-left-radius: 10px !important;
      border-top-left-radius: 10px !important;
    }

    &__trailing {
      border-bottom-right-radius: 10px !important;
      border-top-right-radius: 10px !important;
    }
  }
}

.mdc-button {
  height: 3rem !important;
  letter-spacing: 0 !important;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  border-radius: 10px !important;

  &.mdc-button--outlined.mat-primary {
    font-size: 0.75rem !important;
    line-height: 1.5rem !important;
    height: 2rem !important;
    border-color: $primary-color;
  }
}

.app-autocomplete {
  border-radius: 10px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .mat-mdc-option {
    font-family: 'Montserrat', sans-serif;
    @include setFontStyle($blue10, 0.875rem, 400, 1.5rem);
    border-bottom: 1px solid $blueDark40;
    min-height: 2.5rem;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $blue40 !important;
    }
  }
}

/* Importing Bootstrap SCSS file. */
