<div class="viewer-headline">
  <h2>My Pokemon</h2>
  <a mat-stroked-button color="primary" routerLink="/pokemon-selector">
    <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
    <span>Edit</span>
  </a>
</div>

<div
  (touchstart)="swipe($event, 'start', carousel)"
  (touchend)="swipe($event, 'end', carousel)"
>
  <ngb-carousel [showNavigationArrows]="false" #carousel>
    <ng-container *ngFor="let pokemon of pokemons">
      <ng-template ngbSlide>
        <app-pokemon-card [pokemon]="pokemon" />
      </ng-template>
    </ng-container>
  </ngb-carousel>
</div>
