@import 'colors';
@import 'theming';
@import 'utils';

:host {
  width: 100%;
  margin-top: -1.5rem;
}

.viewer-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.75rem;
  flex-wrap: wrap;

  h2 {
    @include setFontStyle($blue00, 2rem, 400, 3rem);
  }

  > a {
    width: 8.5rem;
  }
}

:host ::ng-deep .carousel {
  display: flex !important;
  flex-direction: column;

  &-inner {
    order: -1;
  }

  &-indicators {
    position: relative;
    margin: 0;

    [data-bs-target] {
      background-color: $primary-color;
    }
  }
}
